* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 100%;
  margin: auto;
  background: #00DB5E;
}
.items {
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  background: white;
}
